<h1>
  <%= @team.name %>
</h1>

<h2>
  Team Motto: <%= @team.motto %>
</h2>


<% @heroes.each do |hero| %>
  <div class="heroes">
    <h2>Name: <%= hero.name %></h2><br>
    <p>Type: <%= hero.power %></p><br>
    <p>Booty: <%= hero.bio %></p>
  </div><br>
<% end %>